{% extends "base.html" %} 

{% block title %} User Profile {% endblock %} 

{% block content %}
<div class="container mt-4">
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  <p><strong>First Name:</strong> {{ user.first_name }}</p>
  <p><strong>Last Name:</strong> {{ user.last_name }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Gender:</strong> {{ user.gender or 'Not provided' }}</p>
  <p><strong>Phone Number:</strong> {{ user.phone_number or 'Not provided' }}</p>
  <p><strong>Socials:</strong> {{ user.socials or 'Not provided' }}</p>

  <button class="btn btn-primary" id="editButton">Edit</button>
  <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
  <button class="btn btn-secondary" id="changePasswordButton">Change Password</button>
</div>

<!-- User information form initially hidden -->
<div id="editForm" style="display: none" class="container mt-4">
  <form method="post" action="{{ url_for('auth.account') }}">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value="{{ user.email }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" name="gender">
        <option value="{{ user.gender }}">Select...</option>
        <option value="Male" {% if user.gender == "male" %} selected {% endif %} >
          Male
        </option>
        <option value="Female" {% if user.gender == "female" %} selected {% endif %} >
          Female
        </option>
        <option value="Non-binary" {% if user.gender == "non-binary" %} selected {% endif %} >
          Non-binary
        </option>
        <option value="Prefer not to say" {% if user.gender == "prefer-not-to-say" %} selected {% endif %} >
          Prefer not to say
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="phone_number">Phone Number</label>
      <input
        type="tel"
        class="form-control"
        id="phone_number"
        name="phone_number"
        value="{{ user.phone_number }}"
      />
    </div>
    <div class="form-group">
      <label for="socials">Socials</label>
      <textarea class="form-control" id="socials" name="socials"> {{ user.socials }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>

<!-- Password update form initially hidden -->
<div id="passwordForm" style="display:none;" class="container mt-4">
  <form method="post" action="{{ url_for('auth.change_password') }}">
    <div class="form-group">
      <label for="current-password">Current Password</label>
      <input type="password" class="form-control" id="current-password" name="current_password" required>
    </div>
    <div class="form-group">
      <label for="new-password">New Password</label>
      <input type="password" class="form-control" id="new-password" name="new_password" required>
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm New Password</label>
      <input type="password" class="form-control" id="confirm-password" name="confirm_password" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
</div>


{% endblock %}
