{% extends "base.html" %} 

{% block title %} User Profile {% endblock %} 

{% block content %}
<div class="container mt-4">
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  <p><strong>First Name:</strong> {{ user.first_name }}</p>
  <p><strong>Last Name:</strong> {{ user.last_name }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Gender:</strong> {{ user.gender or 'Not provided' }}</p>
  <p><strong>Phone Number:</strong> {{ user.phone_number or 'Not provided' }}</p>
  <p><strong>Instagram:</strong> {{ user.instagram or 'Not provided' }}</p>
  <p><strong>Facebook:</strong> {{ user.facebook or 'Not provided' }}</p>
  <p><strong>Snapchat:</strong> {{ user.snapchat or 'Not provided' }}</p>

  <button class="btn btn-primary" id="editButton">Edit</button>
  <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
  <button class="btn btn-secondary" id="changePasswordButton">Change Password</button>
</div>

<!-- User information form initially hidden -->
<div id="editFormDiv" style="display: none" class="container mt-4">
  <form id="editForm" method="post" action="{{ url_for('auth.account') }}">
    <!-- Hidden field that inclues the CSRF token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
      <label for="email">Email</label>
      <input  type="email"  class="form-control"  id="edit_email"  name="email"  value="{{ user.email }}"  required  maxlength="50" />
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" name="gender">
        <option value="{{ user.gender }}">Select...</option>
        <option value="Male" {% if user.gender == "male" %} selected {% endif %} >
          Male
        </option>
        <option value="Female" {% if user.gender == "female" %} selected {% endif %} >
          Female
        </option>
        <option value="Non-binary" {% if user.gender == "non-binary" %} selected {% endif %} >
          Non-binary
        </option>
        <option value="Prefer not to say" {% if user.gender == "prefer-not-to-say" %} selected {% endif %} >
          Prefer not to say
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="phone_number">Phone Number (optional)</label>
      <input type="tel" class="form-control" id="edit_phone_number" name="phone_number" value="{{ user.phone_number }}" maxlength="20"/>
    </div>
    <div class="form-group">
      <label for="instagram">Instagram (optional)</label>
      <input type="text" class="form-control" id="edit_instagram" name="instagram" value="{{ user.instagram }}" placeholder="Instagram username" maxlength="30" />
    </div>
    <div class="form-group">
      <label for="facebook">Facebook (optional)</label>
      <input type="text" class="form-control" id="edit_facebook" name="facebook" value="{{ user.facebook }}" placeholder="Facebook profile link" maxlength="60" />
    </div>
    <div class="form-group">
      <label for="snapchat">Snapchat (optional)</label>
      <input type="text" class="form-control" id="edit_snapchat" name="snapchat" value="{{ user.snapchat }}" placeholder="Snapchat username" maxlength="30" />
    </div>
    <div id="missingSocialError" class="alert alert-danger" style="display:none;"></div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>

<!-- Password update form initially hidden -->
<div id="passwordFormDiv" style="display:none;" class="container mt-4">
  <form id="passwordForm" method="post" action="{{ url_for('auth.change_password') }}">
    <!-- Hidden field that inclues the CSRF token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
      <label for="current-password">Current Password</label>
      <input type="password" class="form-control" id="current_password" name="current_password" required maxlength="30">
    </div>
    <div class="form-group">
      <label for="new-password">New Password</label>
      <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Uppercase, lowercase, number, special (!@#$%^&*)" required maxlength="30">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm New Password</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" required maxlength="30">
    </div>
    <div id="passwordError" class="alert alert-danger" style="display:none;"></div>
    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
</div>


{% endblock %}
