{% extends "base.html" %}
{% block title %}Connect Hearts at UWA{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Main Content Area -->
    <div class="col-md-9 game-col d-flex flex-column align-items-center justify-content-center" style="overflow: hidden;">
      <div class="mb-4" style="color: white; font-weight: normal !important;">
        <h1 class="centered-text mb-md-3">Welcome to Love Letters</h1>
        <h3>Write love letters and meet new people!</h3>
      </div>
      <div class="game-container mb-md-3">
        <canvas id="gameCanvas" style="overflow: hidden;"></canvas>
      </div>
      <div class="row">
          <button id="startBtn" class="btn">Start Game</button>
          <button id="restartBtn" class="btn">Restart Game</button>
      </div>
      <script src="{{ url_for('static', filename='js/heart.js') }}"></script>
    </div>

    <!-- Sidebar -->
    <div class="col-md-3 sidebar mt-5 mb-md-5">
      <div class="list-group">
        <a href="{{ url_for('post.browse') }}" class="list-group-item list-group-item-action">Browse Letters</a>
        <a href="{{ url_for('post.create') }}" class="list-group-item list-group-item-action">Post Letters</a>
        {% if 'user_id' in session %}
          <a href="{{ url_for('auth.notifications') }}" class="list-group-item list-group-item-action">Responses</a>
          <a href="{{ url_for('auth.account') }}" class="list-group-item list-group-item-action">My Account</a>
        {% else %}
          <a href="#" data-toggle="modal" data-target="#loginModal" class="list-group-item list-group-item-action">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
