{% extends "base.html" %} 
{% block title %}Love Letters | Post{% endblock %} 
{% block content %}
<div class="centered-content" style="height: 80vh; display: flex; align-items: center; justify-content: center;">
  <div class="card card-animation my-3" style="max-width: 800px; margin: 0 auto;">
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-pencil-alt"></i> Create Post</h5>
      <form method="POST" action="{{ url_for('post.create_post') }}">
        <!-- Hidden field that includes the CSRF token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          <input type="text" name="title" placeholder="Enter Title" required class="form-control" />
        </div>
        <div class="form-group">
          <textarea name="content" placeholder="Enter your content here" required class="form-control"></textarea>
        </div>
        <div class="form-group">
          <select name="post_type" class="form-control">
            <option value="Love Letter">Love Letter</option>
            <option value="Friend Request">Friend Request</option>
            <option value="General Broadcast">General Broadcast</option>
          </select>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" name="is_anonymous" class="form-check-input" id="anonymousCheck" />
          <label class="form-check-label" for="anonymousCheck"> Post Anonymously</label>
        </div>
        <input type="submit" value="Submit Post" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
