{% extends "base.html" %} {% block title %}Post Letters{% endblock %} {% block content %}
<div class="centered-content">
  <div class="form-container" style="margin-top: 62vh;">
    <form method="POST" action="{{ url_for('post.create_post') }}">
      <!-- Hidden field that inclues the CSRF token -->
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="text" name="title" placeholder="Enter Title" required />
      <textarea
        name="content"
        placeholder="Enter your content here"
        required
      ></textarea>
      <select name="post_type">
        <option value="Love Letter">Love Letter</option>
        <option value="Friend Request">Friend Request</option>
        <option value="General Broadcast">General Broadcast</option>
      </select>
      <input type="checkbox" name="is_anonymous" /> Post Anonymously<br />
      <input type="submit" value="Submit Post" />
    </form>
  </div>
</div>
{% endblock %}
