<!-- Login Modal -->
<div
class="modal fade"
id="loginModal"
tabindex="-1"
aria-labelledby="loginModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="loginModalLabel">Log In</h5>
      <button  type="button"  class="close"  data-dismiss="modal"  aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form id="loginForm" method="post" action="{{ url_for('auth.login') }}" data-redirect-url="{{ url_for('home') }}">
        <!-- The purpose of the hidden input is so that flask can identify which button we sent a POST request from, as we have both login and sign-up on the same page (this is just used to identify) -->
        <input type="hidden" name="login_form" value="true" />
        <!-- Hidden field that inclues the CSRF token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          <label for="login-email">Email</label>
          <input type="email"  class="form-control"  id="login-email"  name="email"  required />
        </div>
        <div class="form-group">
          <label for="login-password">Password</label>
          <input type="password"  class="form-control"  id="login-password"  name="password"  required />
        </div>
        <div id="loginError" class="alert alert-danger" style="display:none;"></div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>
</div>
</div>