<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <a class="navbar-brand" href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='images/heart.png') }}" width="30" height="30" alt="Love Letters Logo">
    Love Letters
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- If the user is logged in -->
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <!-- Replace sign-up with username that links to account settings -->
        <a class="nav-link" href="{{ url_for('auth.account') }}">{{ current_user.first_name }} {{ current_user.last_name }}</a>
      </li>
      <li class="nav-item">
        <!-- Replace log-in with log-out -->
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
