<!-- Sign Up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="errorMessages" style="color: red;"></div>
        <form id="signUpForm" method="post" action="{{ url_for('auth.signup') }}" data-redirect-url="{{ url_for('home') }}">
          <input type="hidden" name="signup_form" value="true" />
          
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Cameron" required maxlength="20" />
          </div>
          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="O'Niell" required maxlength="20" />
          </div>
          <div class="form-group">
            <label for="gender">Gender (optional)</label>
            <select class="form-control" id="gender" name="gender">
              <option value="">Select...</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="non-binary">Non-binary</option>
              <option value="prefer-not-to-say">Prefer not to say</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="cameron@example.com" required maxlength="50"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Uppercase, lowercase, number, special (!@#$%^&*)" requried maxlength="30" />
          </div>
          <div class="form-group">
            <label for="phone_number">Phone Number (optional)</label>
            <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Phone number" maxlength="20" />
          </div>
          <div class="form-group">
            <label for="instagram">Instagram (optional)</label>
            <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Instagram username" maxlength="30" />
          </div>
          <div class="form-group">
            <label for="facebook">Facebook (optional)</label>
            <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Facebook profile link" maxlength="60" />
          </div>
          <div class="form-group">
            <label for="snapchat">Snapchat (optional)</label>
            <input type="text" class="form-control" id="snapchat" name="snapchat" placeholder="Snapchat username" maxlength="30" />
          </div>
          <div id="socials"></div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  </div>
  