html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Center Content */

/* Sidebar Styles */
.sidebar {
  color: white; /* White text for the sidebar */
  padding: 15px; /* Adjust padding as needed */
}

.sidebar h3 {
  color: white; /* White text for the sidebar header */
}

.sidebar .list-group-item {
  background-color: black; /* Black background for list items */
  color: white; /* White text for list items */
  border: 1px solid white; /* Thin white border around list items */
  margin-bottom: 10px; /* Space between list items */
  transition:
    background-color 0.3s,
    border-color 0.3s; /* Smooth transition */
}

.sidebar .list-group-item:hover {
  background-color: red; /* Red background on hover */
  color: white; /* Ensure text color remains white */
  border-color: red; /* Red border on hover */
}

.centered-text {
  text-align: center;
}

.subtext {
  font-size: 1em;
  margin-top: 20px;
}

/* Navigation Cards */

.card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #cacaca;
}

.posts {
  margin: 20px;
}

/* Sidebar styles */
.list-group-item {
  margin-bottom: 5px;
  padding: 2vh !important;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

/* Post cards styling */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}

/* Footer */

.footer {
  margin-top: auto; /* Automatically adjusts margin to push footer at the bottom */
  width: 100%; /* Full width */
  background-color: black; /* Adjust the color as needed */
  color: white;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid white;
}

.modal-content {
  background: black !important;
  border: 1px solid white !important;
  color: white !important;
}

.modal-header {
  color: white !important;
  background-color: transparent !important; /* Makes the background transparent */
  border-bottom: 1px solid white !important; /* Removes the bottom border if not needed */
}

.modal-body {
  padding: 0; /* Remove padding to eliminate white spaces */
}

.modal-body img {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space beneath the image */
}

.card {
  width: 80%; /* Sets the card width to 80% of its parent container */
  margin: 0 auto 20px; /* Centers the card horizontally and adds space below */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for better visibility */
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .centered-content {
    justify-content: flex-start;
    height: auto;
    padding-top: 20px;
    margin-top: 20px;
  }

  .centered-text {
    font-size: 2em;
  }

  .subtext {
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .centered-content {
    padding-top: 10px;
    margin-top: 20px;
  }

  .centered-text {
    font-size: 1.5em;
  }

  .subtext {
    font-size: 0.7em;
  }
}

.form-control {
  background: black !important;
  color: white !important;
}

/* Form Container */
.form-container {
  background-color: black !important; /* Semi-transparent white background */
  color: white !important;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%; /* Responsive width */
  max-width: 500px; /* Maximum width */
  margin: 20px;
  border: 1px solid white;
}

/* Form Elements */
input[type="text"],
textarea,
select {
  background-color: black !important;
  color: white !important;
  width: 100%; /* Full width of the form container */
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the width */
}

input[type="checkbox"] {
  margin-top: 8px;
}

/* Submit Button */
input[type="submit"] {
  background-color: #4caf50; /* Green background */
  color: white !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Hover Effects for Interactivity */
input[type="text"]:hover,
textarea:hover,
select:hover {
  border-color: red; /* Darken the border color on hover */
}

/* Focus Effects for Accessibility */
input[type="text"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: red;
}

.close {
  color: black; /* Muted color for the close button */
}

.close:hover {
  color: red; /* Darker shade on hover for better interaction feedback */
}

/* User Info Styling */
.user-info {
  font-family: "Arial", sans-serif; /* Ensuring a clean, readable font */
  color: #333333; /* Dark grey for readability */
  margin-top: 15px; /* Space above the user info */
}

.user-detail {
  margin: 10px 0; /* Vertical spacing between each detail */
  display: flex; /* Flex layout to align label and value nicely */
  align-items: center; /* Align items in the middle vertically */
}

.user-detail strong {
  width: 100px; /* Fixed width for labels to align values vertically */
  color: #007bff; /* Bootstrap primary color for emphasis */
  font-weight: normal; /* Normal weight looks more modern */
}

.user-detail span {
  font-weight: bold; /* Bold text for user details */
  color: #212529; /* Slightly darker text for emphasis */
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .user-detail strong {
    width: auto; /* Allow label width to adjust on smaller screens */
  }
}

#passwordRules {
  font-size: small;
  margin-top: -5px;
}

/* Postcard Component */
.postcard {
  background-color: black !important; /* Black background for posts */
  color: white !important; /* White text */
  border: 1px solid white !important; /* Thin white border around posts */
  margin-bottom: 20px; /* Spacing between cards */
  padding: 2.5%;
  max-width: 650px;
}

.postcard-title {
  font-size: 1.5em; /* Larger title font size */
  margin-bottom: 10px; /* Spacing below title */
  color: white !important; /* White text for title */
}

.post-username {
  color: white !important; /* White color for username */
}

.post-username:hover {
  color: black !important; /* Change username to black on hover */
  transition-duration: 1s;
}

.postcard-author {
  color: #ccc !important; /* Light grey color for author */
  font-style: italic; /* Italicize author name */
  margin-bottom: 10px; /* Spacing below author */
}

.postcard-content {
  margin-bottom: 20px; /* Spacing below content */
  color: white !important; /* White text for content */
}

.postcard-buttons {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Space between buttons */
}

.postcard-button {
  padding: 8px 16px; /* Padding inside buttons */
  border-radius: 5px; /* Rounded button corners */
  cursor: pointer; /* Show pointer on hover */
  border: 1px solid white !important; /* White border for buttons */
}

.postcard-button.reply,
.postcard-button.view-replies {
  background-color: black; /* Black background for reply and view buttons */
  color: white; /* White text color */
}

.postcard-button.reply:hover,
.postcard-button.view-replies:hover {
  background-color: red; /* Red background on hover */
}

.postcard-button.connect {
  background-color: red; /* Red connect button */
  color: white; /* White text color */
}

/* Hide button text on mobile devices */
@media (max-width: 576px) {
  .card-btn-text {
    display: none; /* Set font size to 0 to hide text */
  }
}

/* Navbar styles */
.navbar {
  background-color: black !important; /* Black background for the navbar */
  padding: 5px;
  border-bottom: 1px solid white;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white; /* White text for links */
  border: 1px solid white; /* Thin white border around each link */
  padding: 5px 10px; /* Adjust padding as needed */
}

.navbar .navbar-brand:hover,
.navbar .nav-link:hover {
  background-color: red; /* Red background on hover */
  color: white; /* Ensure text color remains white */
  border: 1px solid white;
  transition:
    background-color 0.3s,
    border-color 0.3s; /* Smooth transition */
}

.navbar-brand {
  border: none !important;
}

.heart {
  position: absolute;
  top: -20px;
  width: 20px;
  height: 20px;
  background-color: red; /* Red hearts */
  transform: rotate(45deg);
  animation: fall linear infinite; /* Infinite falling animation */
  z-index: -1; /* Sends hearts behind other content */
  opacity: 0.5; /* Slightly transparent */
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -10px; /* Adjust according to heart size */
  left: 0;
}

.heart::after {
  top: 0;
  left: -10px;
}

.btn {
  color: white !important;
  border: 1px solid white !important;
  padding: 5px 10px !important;
}

.btn:hover {
  background-color: red !important;
  color: white;
  border: 1px solid white !important;
  transition:
    background-color 0.3s,
    border-color 0.3s !important;
}

@keyframes fall {
  0% {
    top: -20px;
  }
  100% {
    top: var(--fallHeight);
  }
}

#gameCanvas {
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
}

#startBtn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

/* Computer */
@media (min-width: 768px) {
  #gameCanvas {
    width: 40vw;
    height: 40vh;
  }
}

/* Phone */
@media (max-width: 768px) {
  #gameCanvas {
    width: 75vw;
    height: 50vh;
  }
}
