html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Navigation Cards */

.card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #cacaca;
}

.posts {
  margin: 20px;
}

.modal-content {
  background: none;
  border: none;
}

.modal-header {
  background-color: transparent !important; /* Makes the background transparent */
  border-bottom: none !important; /* Removes the bottom border if not needed */
}

.modal-body {
  padding: 0; /* Remove padding to eliminate white spaces */
}

.modal-body img {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space beneath the image */
}

.card {
  width: 80%; /* Sets the card width to 80% of its parent container */
  margin: 0 auto 20px; /* Centers the card horizontally and adds space below */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for better visibility */
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .centered-content {
    justify-content: flex-start;
    height: auto;
    padding-top: 20px;
    margin-top: 20px;
  }

  .centered-text {
    font-size: 2em;
  }

  .subtext {
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .centered-content {
    padding-top: 10px;
    margin-top: 20px;
  }

  .centered-text {
    font-size: 1.5em;
  }

  .subtext {
    font-size: 0.7em;
  }
}

/* Form Container */
.form-container {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%; /* Responsive width */
  max-width: 500px; /* Maximum width */
  margin: 20px; /* Margin to separate from other content */
}

/* Form Elements */
input[type="text"],
textarea,
select {
  width: 100%; /* Full width of the form container */
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the width */
}

input[type="checkbox"] {
  margin-top: 8px;
}

/* Submit Button */
input[type="submit"] {
  background-color: #4caf50; /* Green background */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Hover Effects for Interactivity */
input[type="text"]:hover,
textarea:hover,
select:hover {
  border-color: #888; /* Darken the border color on hover */
}

/* Focus Effects for Accessibility */
input[type="text"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #555;
}

/* Modal Content Styling */
.modal-content {
  background-color: #ffffff; /* White background for clarity */
  padding: 20px; /* Padding around the content */
  border-radius: 8px; /* Soften the edges */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.modal-header {
  background-color: #f8f9fa; /* Light grey background for the header */
  border-bottom: 1px solid #e9ecef; /* Subtle line to separate header from body */
  color: #495057; /* Dark color for text for better readability */
}

.close {
  color: #6c757d; /* Muted color for the close button */
}

.close:hover {
  color: #343a40; /* Darker shade on hover for better interaction feedback */
}

/* User Info Styling */
.user-info {
  font-family: "Arial", sans-serif; /* Ensuring a clean, readable font */
  color: #333333; /* Dark grey for readability */
  margin-top: 15px; /* Space above the user info */
}

.user-detail {
  margin: 10px 0; /* Vertical spacing between each detail */
  display: flex; /* Flex layout to align label and value nicely */
  align-items: center; /* Align items in the middle vertically */
}

.user-detail strong {
  width: 100px; /* Fixed width for labels to align values vertically */
  color: #007bff; /* Bootstrap primary color for emphasis */
  font-weight: normal; /* Normal weight looks more modern */
}

.user-detail span {
  font-weight: bold; /* Bold text for user details */
  color: #212529; /* Slightly darker text for emphasis */
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .user-detail strong {
    width: auto; /* Allow label width to adjust on smaller screens */
  }
}

#passwordRules {
  font-size: small;
  margin-top: -5px;
}

.sort-posts select {
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.sort-posts form {
  display: inline-block;
}

.post-skeleton {
  max-width: 800px; /* Same as the post card */
  margin: 0 auto 20px; /* Same margin as the post card */
  padding: 20px; /* Same padding as the post card */
  background-color: #f0f0f0; /* Light background color */
  border-radius: 10px; /* Same border-radius as the post card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Same box shadow as the post card */
  text-align: center; /* Center-align text */
}

.skeleton-header,
.skeleton-body,
.skeleton-footer {
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 20px;
  margin: 10px 0;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

.skeleton-header {
  width: 70%; /* Adjusted width */
  height: 30px; /* Adjusted height to match title */
}

.skeleton-body {
  width: 90%; /* Adjusted width */
  height: 100px; /* Adjusted height to match content */
}

.skeleton-footer {
  width: 50%; /* Adjusted width */
  height: 20px; /* Adjusted height to match metadata */
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.card-animation {
  opacity: 0; /* Start fully transparent */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-slide-in {
  animation: slideIn 0.7s ease-out forwards;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );
}

.card.love {
  background-color: transparent;
}

.buttons {
  width: 100%;
  height: 100px;
  font-family: cursive;
  font-size: 25px;
  border: 2px solid #f2c2c8;
  border-radius: 10px;
  background: linear-gradient(70deg, #ffe5e9, #ffc3cc);
  color: #f05757;
  outline: none;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}

.buttons:active {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.23);
  transform: scale(0.99);
}

#cards-container {
  position: relative;
  flex: 1; /* Allow it to grow and fill available space */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipe-card {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  will-change: transform, opacity;
  cursor: grab;
  background: rgb(255, 228, 252);
  border: 1px solid black;
  border-radius: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: grab;
  margin: 10px auto;
}

.swipe-card:not(:last-child) {
  pointer-events: none;
}

/* Navbar Styling */
.navbar {
  background-color: #ffb6c1; /* Light pink color */
  z-index: 2; /* Ensure the navbar is above other elements */
}

/* Sidebar Styling */
.sidebar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  z-index: 1; /* Ensure the sidebar is above the background but below the flash messages */
}

.sidebar .card {
  margin-bottom: 20px;
  background-color: transparent;
  position: relative;
}

.sidebar .buttons {
  width: 100%;
  height: 60px; /* Decreased height for skinnier buttons */
  font-family: cursive;
  font-size: 24px; /* Adjusted font size */
  border: 2px solid #f2c2c8;
  border-radius: 10px;
  background: linear-gradient(70deg, #ffe5e9, #ffc3cc);
  color: #f05757;
  outline: none;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}

/* Heart Animation Styling */
.hearts {
  position: absolute;
  background-color: #ffb3ba; /* Darker shade of pink */
  height: 50px;
  width: 50px;
  opacity: 0;
  transform: rotate(-45deg);
}

#heart1 {
  top: 30%;
  left: 10%;
  margin-top: -25px;
  margin-left: -25px;
}

#heart2 {
  top: 20%;
  left: 30%;
  margin-top: -35px;
  margin-left: -25px;
}

#heart3 {
  top: 40%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

#heart4 {
  top: 10%;
  left: 70%;
  margin-top: -35px;
  margin-left: -25px;
}

#heart5 {
  top: 30%;
  left: 90%;
  margin-top: -25px;
  margin-left: -25px;
}

.hearts:before,
.hearts:after {
  content: "";
  position: absolute;
  background-color: #ffb3ba; /* Darker shade of pink */
  border-radius: 50%;
}

.hearts:before {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0;
}

.hearts:after {
  width: 50px;
  height: 50px;
  top: 0;
  left: 25px;
}

.love:hover > #heart1 {
  animation: hearts1 1.1s infinite;
}
.love:hover > #heart2 {
  animation: hearts2 1.3s infinite;
}
.love:hover > #heart3 {
  animation: hearts3 1.5s infinite;
}
.love:hover > #heart4 {
  animation: hearts4 1.7s infinite;
}
.love:hover > #heart5 {
  animation: hearts5 1.9s infinite;
}

@keyframes hearts1 {
  0%,
  100% {
    transform: scale(0.1) rotate(-45deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(1) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes hearts2 {
  0%,
  100% {
    transform: scale(0.1) rotate(-45deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(1) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes hearts3 {
  0%,
  100% {
    transform: scale(0.1) rotate(-45deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(1) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes hearts4 {
  0%,
  100% {
    transform: scale(0.1) rotate(-45deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(1) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes hearts5 {
  0%,
  100% {
    transform: scale(0.1) rotate(-45deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(1) rotate(-45deg);
    opacity: 0;
  }
}

/* Media Query to hide sidebar on smaller screens */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  #account_modal {
    margin-top: 0vh !important
  }
}

/* Flash Messages Styling */
.flash-messages {
  position: fixed;
  top: 60px; /* Adjust this value based on your navbar height */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Ensure flash messages are above the sidebar */
  width: calc(100% - 20px);
  max-width: 600px;
  pointer-events: none; /* Allow interactions to pass through */
  text-align: center; /* Center align the text */
}

.flash-messages .alert {
  pointer-events: all; /* Allow interactions with the alert itself */
  display: inline-block; /* Ensure the alert is inline-block for proper centering */
}

/* Center Content */

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}

.centered-text {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.centered-text div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.centered-text div:first-of-type {
  animation: showup 10s infinite;
}

.centered-text div:last-of-type {
  width: 0px;
  animation: reveal 10s infinite;
}

.centered-text div:last-of-type span {
  margin-left: -355px;
  animation: slidein 10s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

.subtext {
  margin-top: 20px;
  font-size: 1.5em;
  background: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation Cards */

.card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #cacaca;
}

.posts {
  margin: 20px;
}

/* Footer */

.footer {
  margin-top: auto; /* Automatically adjusts margin to push footer at the bottom */
  width: 100%; /* Full width */
  background-color: #f5f5f5; /* Adjust the color as needed */
  color: #666;
  text-align: center;
  padding: 10px 0;
  flex-shrink: 0; /* Prevent the footer from shrinking */
  position: relative; /* Ensure the footer stays in place */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar .buttons {
    width: 90%;
    height: 70px; /* Adjusted height for buttons on smaller screens */
    margin: 40px 0; /* Increased margin for more spacing on smaller screens */
    font-size: 28px; /* Increased font size for readability on smaller screens */
  }

  .hearts {
    height: 45px; /* Adjusted for larger hearts on smaller screens */
    width: 45px; /* Adjusted for larger hearts on smaller screens */
  }

  .hearts:before {
    width: 45px; /* Adjusted for larger hearts on smaller screens */
    height: 45px; /* Adjusted for larger hearts on smaller screens */
    top: -22.5px; /* Adjusted for larger hearts on smaller screens */
  }

  .hearts:after {
    width: 45px; /* Adjusted for larger hearts on smaller screens */
    height: 45px; /* Adjusted for larger hearts on smaller screens */
    top: 0;
    left: 22.5px; /* Adjusted for larger hearts on smaller screens */
  }
}
/* Custom styles for the post cards */
.card.card-animation {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  transition:
    transform 0.2s,
    box-shadow 0.2s !important;
  padding: 20px !important; /* Added padding for more vertical space */
}

.card.card-animation:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
}

/* Button styles */
.btn-sm {
  font-size: 0.8em !important;
  padding: 0.4em 0.6em !important;
}

.btn-primary {
  background-color: #ffb6c1 !important; /* Light pink */
  border-color: #ffb6c1 !important; /* Light pink */
  color: #fff !important;
}

.btn-outline-primary {
  border-color: #ffb6c1 !important; /* Light pink */
  color: #ffb6c1 !important;
}

.btn-outline-primary:hover {
  background-color: #ffb6c1 !important;
  color: #fff !important;
}

.btn-info {
  background-color: #add8e6 !important; /* Light blue */
  border-color: #add8e6 !important;
  color: #fff !important;
}

.btn-info:hover {
  background-color: #87ceeb !important; /* Slightly darker blue */
  border-color: #87ceeb !important;
}

/* Custom styles for replies */
.replies-container .card {
  border-radius: 8px !important;
  background-color: #f9f9f9 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

/* Footer styles */
.footer {
  font-size: 0.8em !important; /* Smaller font size */
  color: #666 !important;
  text-align: center !important;
  padding: 10px 0 !important;
  background-color: #f5f5f5 !important; /* Light grey */
}

/* Adjust button group margins */
.btn-group .btn {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

/* Hyperlink color */
.author-link {
  color: #ff69b4 !important; /* Hot pink color */
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .btn-group .btn .btn-text {
    display: none !important; /* Hide button text on mobile */
  }
  .post-meta .post-type {
    display: none !important; /* Hide post type on mobile */
  }
}

.centered-text {
  text-align: center;
}

.main-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.animated-text {
  position: relative;
  height: 40px; /* Adjust based on your text height */
  overflow: hidden;
  font-weight: lighter;
}

.animated-text .text-item {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 40px; /* Same as the height */
  text-align: center;
  animation: textAnimation 9s linear infinite 0s;
}

@keyframes textAnimation {
  0%,
  33% {
    opacity: 1;
    transform: translateY(0);
  }
  33.33%,
  66% {
    opacity: 0;
    transform: translateY(-100%);
  }
  66.66%,
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

/* Ensure the swipe cards have consistent styling */
.swipe-card {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  transition: transform 0.2s !important;
  padding: 20px !important; /* Added padding for more vertical space */
  background-color: #fff !important; /* Ensure background color matches the theme */
  margin-bottom: 20px !important; /* Add margin between cards */
  width: 60%;
}

.swipe-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
}

/* Hyperlink color */
.author-link {
  color: #ff69b4 !important; /* Hot pink color */
}

/* Custom styles for post meta */
.post-meta .post-type {
  display: block !important;
  margin-bottom: 10px !important; /* Add space between post type and date */
}

.post-meta small {
  font-size: 0.9em !important; /* Slightly smaller text for post meta */
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .post-meta .post-type {
    display: none !important; /* Hide post type on mobile */
  }
}
