body,
html {
  height: 100%; /* Ensure the parent elements cover the full viewport height */
  margin: 0; /* Remove default margins */
}

body {
  /* background: linear-gradient(to right, #f2c0a2, #d9a2ce); */
  background-image: url("../images/uwa-sunrise-crop.jpg");
  background-size: cover;
  background-position: center;
}

/* Center Content */

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}

.centered-text {
  font-size: 5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.subtext {
  font-size: 1em;
  margin-top: 20px;
}

/* Navigation Cards */

.card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #cacaca;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5; /* Light grey background */
  color: #666; /* Dark grey text */
  text-align: center;
  padding: 10px 0; /* 10px top and bottom padding */
}

.modal-content {
  background: none;
  border: none;
}

.modal-header,
.modal-footer {
  display: none; /* Optionally remove header and footer for full image display */
}

.modal-body {
  padding: 0; /* Remove padding to eliminate white spaces */
}

.modal-body img {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space beneath the image */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .centered-content {
    justify-content: flex-start;
    height: auto;
    padding-top: 20px;
    margin-top: 20px;
  }

  .centered-text {
    font-size: 2em;
  }

  .subtext {
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .centered-content {
    padding-top: 10px;
    margin-top: 20px;
  }

  .centered-text {
    font-size: 1.5em;
  }

  .subtext {
    font-size: 0.7em;
  }
}

